---
import { Picture } from "astro:assets";
import image from "assets/image.webp";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={image}
      style="border-radius: 12px;"
      alt=""
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Ctrl+C
    </h1>
    <p></p>

    <h2 class="font-bold text-3xl text-gray-800 mt-8">
      About Us
    </h2>

    <p
      class="text-lg text-slate-600 max-w-xl mt-1"
      style="padding-right: 3rem; text-style: italic">
      Ctrl+C is a registered non-profit.<span
        style="opacity: 0.4; line-height: 1; display: block"
        >NPO: 2020/159987/08</span
      >
    </p>
    <p
      class="text-lg text-slate-600 max-w-xl mt-3"
      style="padding-right: 3rem">
      We understand the challenges of navigating a
      fast-paced, ever-changing work environment and the
      impact it can have on mental health. Through
      continuous learning, growth, and collaboration, we aim
      to nurture talent and foster a collaborative spirit.
    </p>

    <p
      class="text-lg mt-4 text-slate-600 max-w-xl"
      style="padding-right: 3rem">
      As a group of volunteers from various backgrounds in
      the South African tech industry, we are dedicated to
      creating a supportive space for individuals to develop
      and navigate the challenges of the contemporary work
      place.
    </p>

    <p
      class="text-lg mt-4 text-slate-600 max-w-xl"
      style="padding-right: 3rem">
      We achieve this through podcasts, online talks,
      in-person events and workshops by leveraging the
      knowledge of domain experts who share their insights
      with our community.
    </p>

    <h2 class="font-bold text-3xl text-gray-800 mt-8">
      Current Projects
    </h2>

    <ul>
      <li
        class="flex items-center gap-3 text-neutral-800 mt-2">
        <span>🤖</span>
        <a
          style="text-decoration: underline"
          href="https://www.meetup.com/fedsa-community/"
          >Front-end Development South Africa (FEDSA)</a
        >
      </li>

      <li
        class="flex items-center gap-3 text-neutral-800 mt-1">
        <span>🎨</span>
        <a
          style="text-decoration: underline"
          href="https://www.meetup.com/ZAPD-community/"
          >South African Product Design (ZAPD)</a
        >
      </li>
    </ul>

    <li
      class="flex items-center gap-3 text-neutral-800 mt-1">
      <span>🧠</span>
      <a
        style="text-decoration: underline"
        href="https://mhit.org.za/"
        >Mental Health in Tech (MHIT)</a
      >
    </li>

    <li
      class="flex items-center gap-3 text-neutral-800 mt-1">
      <span>🌐</span>
      <a
        style="text-decoration: underline"
        href="https://mhit.org.za/">Mechanical Ink</a
      >
    </li>

    <li
      class="flex items-center gap-3 text-neutral-800 mt-1">
      <span>🍄</span>
      <a
        style="text-decoration: underline"
        href="https://schalkneethling.substack.com/s/the-mycelium-network-podcast"
        >Mycelium Network</a
      >
    </li>
  </div>

  <!-- <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="#"
        href="https://web3templates.com/templates/astroship-starter-website-template-for-astro"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <Icon
          class="text-white w-5 h-5"
          name="bx:bxs-cloud-download"
        />

        Download for Free
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="https://github.com/surjithctly/astroship"
        class="flex gap-1 items-center justify-center"
        target="_blank">
        <Icon
          class="text-black w-4 h-4"
          name="bx:bxl-github"
        />
        GitHub Repo
      </Link>
    </div> -->
</main>
